<!DOCTYPE html>
<html>
<head>
	{% extends 'base.html' %}
	<title>Post {{ post.id }}</title>
</head>
<body>
	{% block content %}
	<div style="padding: 0px 10px;">
		<h1>{{ post.title }}</h1>
		<span class="glyphicon glyphicon-time" style="float: left; top: 17px;"></span><h3 style="position: relative; left: 4px;"> {{ post.displaydate }}</h3>
		<img src={{ post.pic.url }} class="img-responsive center-block" style="max-height: 300px">
		<br>
		<p>{{ post.desc }}</p>

		<br>
		<div id="disqus_thread"></div>
		<script>

		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		
		var disqus_config = function () {
		//this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier='post-{{ post.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://rohans-blog.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	
	</div>                        
	{% endblock %}
</body>
</html>